.products {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
}

.products td,
.products th {
    border: 1px solid #ddd;
    padding: 8px;
}

.head {
    background-color: grey;
    color: white;
}